body {
    font-family: 'Open Sans', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
}

p {
    font-size: 1em; 
    line-height: 1.5em;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}


/* MOBILES DEVICES*/

@media only screen and (max-width: 680px) {
    body {
        padding: 0 20px;
    }
  }